node_modules/
dist/
frontend/node_modules/
frontend/dist/
.env
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
backend/__pycache__/
backend/.venv/
.DS_Store
Thumbs.db
.vscode/
teste.mp4
docs&refs/
videos-testes/
registroSoftw-ocultados.mp4